
<section class="section-form">
  <div class="container">
    <div class="row">
        <div class="col-md-12">  
          <div class="well" >

            <h3 style="color:black;">已發送 Email 到您的信箱，請透過信件提供之連結重設密碼。</h3>
            
          </div>  <!-- end of well -->
        </div> <!-- end of col-md-6 -->
    </div> <!-- end of row -->
  </div>
</section>