
<section class="section-form">
  <div class="container">
    <div class="row">
        <div class="col-md-12">  
          <div class="well" >

            <h3 style="color:black;">此連結已經失效</h3>
            
          </div>  <!-- end of well -->
        </div> <!-- end of col-md-6 -->
    </div> <!-- end of row -->
  </div>
</section>